<h1 class="ui center aligned icon header">Business Builder Now </h1>
<hr class = "style-seven">
<div class = "ui grid ">
<div class = "ui six wide column">
    <h3>Have A Business Idea?</h3><hr>
    <img src = "https://images.unsplash.com/photo-1474631245212-32dc3c8310c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" height = "400" width = "450">
</div>

<div class = "ui nine wide column container">
 <p> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac laoreet massa. Aenean quis sem ut justo venenatis iaculis. Pellentesque sollicitudin massa dolor, ut tincidunt lectus tempor quis. Nullam ultricies velit non aliquet molestie. Praesent pretium neque et laoreet volutpat. Cras vel justo nibh. Mauris urna libero, viverra ac viverra ut, convallis sodales enim. Maecenas ullamcorper dui in sem eleifend varius nec eget velit. Sed pretium erat convallis erat iaculis, ac ullamcorper diam blandit.

    Aenean in diam massa. Duis tempor gravida fermentum. Nullam in lorem leo. Fusce orci justo, gravida quis massa congue, egestas lobortis augue. Suspendisse justo lacus, eleifend ac ullamcorper sit amet, interdum eget ante. Vestibulum auctor volutpat tempor. Donec aliquet at nunc eu gravida. Curabitur mauris metus, gravida et nisi ac, congue volutpat leo. Sed vitae odio et nulla faucibus porta non sed est. Proin ut metus sit amet tortor vulputate rutrum a eget odio. Donec ex magna, euismod ac enim et, porttitor rutrum dui. Nam auctor urna at velit auctor tincidunt. Donec gravida mauris nec vehicula commodo. Maecenas a convallis ex. Proin interdum diam sed massa elementum, non egestas quam efficitur. In porta nulla a justo elementum suscipit.

    Quisque sit amet leo ac sem mollis mattis pulvinar efficitur turpis. Morbi et lectus lacinia, hendrerit lectus id, lacinia urna. Quisque sit amet tempus enim. Ut id metus elit. Morbi tempus nisi vitae ornare lacinia. Fusce eu egestas urna, sit amet varius leo. Curabitur viverra mi erat, convallis porta odio aliquam interdum. Integer euismod lectus ut neque bibendum, eu molestie tortor ornare. Sed mattis sit amet sem id condimentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

    Nulla ullamcorper consectetur eros id tempor. Sed mi justo, venenatis eget velit eget, auctor pharetra est. Sed lorem nunc, finibus nec vulputate ac, sodales at nulla. Morbi aliquet tellus sit amet ipsum commodo, eget sodales lorem mollis. Maecenas purus erat, imperdiet ut facilisis a, accumsan et magna. Donec neque nunc, molestie in venenatis et, bibendum eget lorem. Suspendisse volutpat magna ac commodo vestibulum. Suspendisse consectetur sapien nibh, in auctor est eleifend ac. Praesent eget lacus varius, semper dolor non, commodo orci.
 </p>
</div>
</div>
<div class = "ui grid">
<div class = "ui nine wide column">
<p>Proin dolor felis, blandit quis odio quis, condimentum venenatis risus. Sed cursus nisl a quam fringilla, id iaculis magna mollis. Aenean feugiat ligula et est rutrum, fringilla laoreet dui accumsan. Maecenas molestie erat metus, eu tincidunt justo faucibus eu. Suspendisse potenti.

Mauris fringilla ligula luctus posuere aliquet. Aenean auctor viverra neque. Sed condimentum, est sed accumsan suscipit, sem lacus consequat lectus, sit amet pretium neque libero
 at felis. Sed finibus velit sit amet urna egestas, eu vulputate sem cursus. Nullam at lorem tristique, blandit velit tempus, dapibus risus. In vitae tristique ligula. Vivamus sed ante dolor. Nunc interdum ultricies egestas. Phasellus gravida fringilla dolor eu tempor. Quisque facilisis eu sem et fermentum.

Duis facilisis non lectus ut mollis. Donec tincidunt, nulla sit amet suscipit tincidunt, sapien velit maximus ante, id finibus metus lacus sit amet ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum augue vel eros molestie, feugiat eleifend tellus tristique. Mauris consectetur odio id turpis lobortis molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus laoreet magna sed erat aliquet lobortis.

Morbi rutrum sed arcu eu ornare. Duis orci magna, venenatis ut tristique vitae, ultrices in velit. Fusce condimentum ipsum vitae interdum dignissim. Integer maximus posuere metus nec consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus a mi pulvinar, consequat ligula et, mollis tortor. Etiam in posuere ligula. Pellentesque tempus, velit vitae maximus commodo, neque lorem volutpat ligula, nec condimentum neque dolor sit amet neque. Donec venenatis tortor eget bibendum ornare. Duis non purus libero. Quisque venenatis, purus non sodales varius, lacus turpis vehicula nibh, mollis ornare sem quam tincidunt massa. Mauris id lacus non ante vestibulum facilisis. Donec ornare euismod dolor sit amet pharetra. Maecenas viverra vel lectus id venenatis. Pellentesque posuere, nisl non fermentum venenatis, metus augue convallis massa, eget consectetur arcu risus volutpat risus.

Quisque rhoncus ipsum et tellus gravida, a scelerisque lacus posuere. Aliquam luctus mauris nec eros consectetur, porta ornare justo consectetur. Nullam interdum enim a enim malesuada, sit amet pretium neque fermentum. Ut iaculis diam id urna imperdiet iaculis. Nulla facilisi. Curabitur dictum risus fringilla est blandit suscipit. In laoreet urna ac ultrices egestas. Etiam eget felis tellus. Nunc bibendum augue dolor, ut aliquam ex ultrices eget. Nullam hendrerit lacus non nibh hendrerit tristique.

Orci varius natoque penatibus
</p>
</div>
<div class = "ui six wide column">
    <h3>Be Your Own Boss!</h3><hr>
    <img src = "https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" height = "400" width = "450">
</div>
</div>


<div class = "ui grid">

<div class = "ui six wide column">
 <h3>A Fabulous Team Working By Your side</h3><hr>
    <img src = "https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" height = "400" width = "450">

</div>

<div class = "ui nine wide column container">
 <p>
 et magnis dis parturient montes, nascetur ridiculus mus. Cras egestas nisl id nisi ornare, id posuere sem dictum. Mauris sed nibh imperdiet, commodo ante eget, volutpat mauris. Pellentesque rutrum eget ante sed gravida. Maecenas auctor imperdiet nisi non fermentum. Sed faucibus congue justo, id volutpat velit tempus vel. Nam tincidunt, diam sit amet molestie euismod, libero lorem vehicula lacus, a fermentum nibh felis eu elit. Donec pharetra elit velit, sit amet congue enim rutrum eu. Curabitur dapibus tempus cursus. Suspendisse varius magna a nibh porta eleifend. Vestibulum ut erat fringilla, tincidunt libero 
 
 vel, fermentum diam. Pellentesque ante libero, feugiat vitae vestibulum at, maximus a arcu. Pellentesque eu ante libero.

Nulla hendrerit diam nulla, at rhoncus lorem pharetra a. Praesent libero nulla, consequat non fermentum nec, consequat eu massa. Fusce at leo hendrerit, auctor urna ac, tristique purus. Morbi sodales enim auctor, malesuada est a, tristique ante. Suspendisse potenti. Etiam sed ex quis enim tempor rutrum. Nullam id nisi lorem. Duis at faucibus nisi, sed cursus dolor. Proin enim sem, sagittis et auctor eget, imperdiet eget turpis. In a magna enim.

Aliquam erat volutpat. Etiam sollicitudin, quam ut aliquam fringilla, erat odio tempus tortor, vel tincidunt velit risus eu leo. Sed aliquet risus non interdum tincidunt. Nulla eu lectus sit amet ante faucibus tempor sit amet et mi. Integer in consectetur felis. Praesent enim enim, gravida pulvinar magna vel, posuere rhoncus sapien. Donec odio risus, blandit at eleifend condimentum, dignissim a augue. Etiam a sollicitudin odio. Donec sapien sapien, efficitur sit amet lorem quis, placerat vehicula magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

Proin a sodales ligula, eu eleifend mi. Nam quis metus at odio porttitor blandit. Maecenas blandit tempus lorem, eget ultricies enim posuere quis. Fusce quis urna congue arcu laoreet consequat in venenatis nulla. Vestibulum tempus orci sit amet tincidunt porttitor. Praesent id nisl eget odio cursus elementum sed eget mauris. Nulla facilisi. Vestibulum vel diam diam. Fusce et urna sed enim iaculis sodales. Sed porttitor urna quam, sagittis venenatis lorem feugiat sed. Nullam et sodales urna.

Curabitur sed vulputate ligula, 
</p>

</div>
</div>


<div class = "ui grid">
<div class = "ui nine wide column">
<p>
vel sollicitudin libero. Fusce laoreet mi sed lectus volutpat porta. Duis tincidunt tempor velit rutrum auctor. In non feugiat nunc. In ac purus at lectus bibendum pretium et et felis. Suspendisse potenti. Nulla facilisi. Maecenas nec condimentum nulla. Praesent elementum aliquam enim. Donec varius elit ut eleifend suscipit. In scelerisque quam enim, vitae consequat tortor condimentum sit amet. Nunc quis porttitor tellus. Quisque rutrum risus arcu, ac sagittis orci euismod nec. Nam cursus, tortor in aliquam tincidunt, dui lacus hendrerit nisl, a dignissim velit velit quis lacus. Sed non elit porta, tempus ante nec, gravida nisi. Nulla et arcu lacus.

Cras fermentum augue augue, sit amet suscipit nulla vehicula vitae. Cras ut ligula molestie, consectetur arcu quis, ullamcorper est. Vivamus a lectus bibendum, tristique dolor nec, malesuada orci. Pellentesque pellentesque bibendum iaculis. Vivamus pellentesque arcu arcu, nec posuere ipsum commodo fringilla. Aenean elementum purus non nibh venenatis feugiat. Suspendisse potenti. Aliquam sed libero eget nulla scelerisque porttitor in eget ex. Donec porttitor nulla quis nisi blandit, at tempor enim sodales. Nunc vel nibh quis ligula fermentum ultricies. Duis euismod volutpat nibh, porttitor finibus felis maximus quis.<

Integer laoreet, magna quis efficitur molestie, dui sem pellentesque elit, sed efficitur lacus lorem at purus. Ut et tincidunt leo. Ut lobortis congue congue. Suspendisse rhoncus tincidunt ante. Sed faucibus justo fermentum, eleifend dui et, rhoncus velit. Fusce id nunc nec neque congue rutrum. Pellentesque ultricies et lectus a interdum. Nunc porta egestas metus eu gravida. Cras eleifend lorem lectus, quis consectetur est mattis eu. Morbi vestibulum ac neque luctus accumsan. Aenean dapibus quam eu leo interdum, vel facilisis nisi elementum. Vestibulum vel ipsum in ante posuere molestie quis eget felis. Suspendisse potenti. Quisque hendrerit orci faucibus ipsum tempus, quis sollicitudin ipsum tincidunt.

Praesent interdum quam quis purus molestie euismod. Etiam tempor, sem commodo maximus tincidunt, lacus quam maximus dui, efficitur iaculis nibh neque ac lectus. Ut vel dictum turpis. Duis volutpat ultricies nunc. Aliquam ac suscipit diam. Donec blandit scelerisque feugiat. Maecenas varius felis id facilisis mattis. Nam augue dui, consectetur sed ullamcorper in, dictum vel ipsum. Fusce euismod auctor magna, sed blandit leo bibendum eget. Vivamus pretium aliquam leo congue sollicitudin. Aenean dapibus justo 
</p>

</div>
<div class = "ui six wide column">
     <h3>Get Time For What You Value The Most</h3><hr>
    <img src = "https://images.unsplash.com/photo-1530521954074-e64f6810b32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" height = "400" width = "450">

</div>
</div>


